<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitores Cadastrados</title>
    <script src="/static/list-monitor.js" defer></script>
</head>
<body>
    <h1>Monitores</h1>
    <button id="btnReload">Recarregar</button>

    <table id="listMonitor" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Frequência</th>
                <th>Status</th>
                <th>Menor Valor</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
</body>
</html>